<% provide :page_title, 'Questions' %>
<% currently_at 'Questions' %>

<div class="col">
<%= link_to 'Questions', questions_path, class: 'btn btn-outline-dark btn-lg' %>
<%= link_to 'New question', new_question_path, class: 'btn btn-outline-dark btn-lg' %>
</div>


<div class="col mt-3">
  <%== pagination @pagy %>
</div>

<%= render partial: "question" %>

<div class="col mt-3">
  <%== pagination @pagy %>
</div>