<% is_current_comment = comment&.for?(commentable) %>
<% comment_builder = is_current_comment ? comment: commentable.comments.build %>
<div class="mt-3">
<%= link_to 'Comments', "##{html_id}",
    class: 'btn btn-outline-dark btn-sm', data: {'bs-toggle':'collapse'} %>
</div>
<%= tag.div class: "collapse #{'show' if is_current_comment}", id: html_id do %>
  <% if policy(comment_builder).create? %>
    <%= form_with model: [commentable, comment_builder],
    class: 'pt-3 my-2' do |f| %>
      <% if is_current_comment %>
      <%= render 'shared/errors', object: @comment %>
        <% end %>

      <div class="mb-3 row">
        <div class="col-sm-2 col-form-label">
          <%= f.label :body %>
        </div>

        <div class="col-sm-10">
          <%= f.text_area :body, class: 'form-control form-control-sm' %>
        </div>
      </div>

      <%= f.submit "Submit", class: 'btn btn-sm btn-outline-primary' %>

    <% end %>
  <% end %>

  <%= render commentable.comments.decorate %>
<% end %>