<% comment_builder = commentable.comments.build %>
<% html_id = dom_id commentable, 'comments' %>

<div class="mt-3">
<%= link_to 'Comments', "##{html_id}",
    class: 'btn btn-outline-dark btn-sm', data: {'bs-toggle':'collapse'} %>
</div>
<%= tag.div class: "collapse", id: html_id do %>
  <%= turbo_frame_tag "#{dom_id(commentable)}_#{dom_id(comment_builder)}" do %>

    <% if policy(comment_builder).create? %>
      <%= form_with model: [commentable, comment_builder],
      class: 'pt-3 my-2' do |f| %>
        <%= render 'shared/errors', object: @comment %>

        <div class="mb-3 row">
          <div class="col-sm-2 col-form-label">
            <%= f.label :body %>
          </div>

          <div class="col-sm-10">
            <%= f.text_area :body, class: 'form-control form-control-sm' %>
          </div>
        </div>

        <%= f.submit "Submit", class: 'btn btn-sm btn-outline-primary' %>

      <% end %>
    <% end %>

    <%= turbo_frame_tag dom_id(commentable, 'comments_list') do %>
      <%= render commentable.comments.decorate %>
    <% end %>

  <% end %>
<% end %>