<%= turbo_frame_tag @answer do %>
  <%= form_with model: [@question, @answer] do |f| %>
    <%= render 'shared/errors', object: @answer %>

    <div class="mb-3 row">
      <div class="col-form-label fw-semibold fs-4">
        <%= f.label 'Write your answer:' %>
      </div>

      <div class="col-sm-12">
        <%= f.text_area :body, class: 'form-control' %>
      </div>
    </div>

    <%= f.submit "Submit answer!", class: 'btn btn-outline-primary' %>

  <% end %>
<% end %>